html, body { @apply h-full overflow-hidden; }
@font-face {
	/* Reference name */
	font-family: 'NotoSansJP';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/NotoSansJP-VariableFont_wght.ttf');
}